<!DOCTYPE html>
<html>

<head>
    <title>Match 결제 페이지</title>
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <script src="https://pay.nicepay.co.kr/v1/js/"></script>
  <script>
      window.addEventListener('load', function() {
          serverAuth();
      });

    function serverAuth() {
      AUTHNICE.requestPay({
        clientId: '{{clientId}}',
        method: '{{method}}',
        orderId: '{{orderId}}',
        amount: '{{amount}}',
        goodsName: '{{productName}}',
        returnUrl: '{{returnUrl}}',
        fnError: function (result) {
          alert('개발자확인용 : ' + result.errorMsg + '')
        }
      });
    }
  </script>
</body>

</html>