files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
        #!/usr/bin/env bash
        JAR_PATH=/var/app/current/match-api.jar
               
        # run app
        kill `ps -ef | grep cider-api | awk '{print $2}'`
        java -Dspring.profiles.active=dev -Dfile.encoding=UTF-8 -jar  $JAR_PATH
