<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Preview</title>
</head>
<body>
<div align="center" style="font-size: 15px">
    <table style="max-width: 630px; margin: 0 auto; letter-spacing: -1px; font-family: 나눔고딕,serif;">
        <tr>
            <td style="border: 10px solid #f2f2f2; padding: 90px 14px; text-align: center;">
                <img src="https://d331gpen6ndprr.cloudfront.net/match.png" width="690" alt="MATCH Logo" />
                <h1 style="font-size: 50px; line-height: 48px; font-weight: bold; color: #000000; padding-bottom: 60px; text-align: left;">
                    이메일 인증번호 안내
                </h1>
                <p style="font-size: 20px; line-height: 22px; font-weight: normal; color: #000000; text-align: left;">
                    <b>
                        MATCH의 서비스 가입을 위해 인증번호를 보내드려요
                    </b>
                </p>
                <p style="font-size: 16px; line-height: 22px; font-weight: normal; color: #000000; text-align: left;">
                    아래의 인증번호를 입력해주세요.
                </p>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="padding: 50px 30px; border: 1px solid #eeeeee; background: #fbfbfb; text-align: left;">
                            <p style="font-size: 50px; font-weight: bold; color: #000000;" th:text="${code}">
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="font-size: 16px; line-height: 22px; font-weight: normal; color: #000000; text-align: left;">
                    감사합니다.
                </p>
                <div style="text-align: center;">
                    <img src="https://d331gpen6ndprr.cloudfront.net/cat.png" width="400" alt="Cute Cat" style="display: block; margin: 0 auto;" />
                </div>
            </td>

        </tr>
    </table>
</div>
</body>
</html>
